.homeContainer {
  background: linear-gradient(114deg, #a8e0ff, #70cad1, #3e517a);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px; /* Espacio entre leftSection y rightSection */
}

/* Sección izquierda: descripción del sistema */
.leftSection {
  flex: 1;
  background-color: rgba(250, 249, 194, 0.5);
  padding: 20px;
  text-align: left;
  border: 2px solid #666;
  border-radius: 15px;
}

.leftSection h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.leftSection h2 {
  font-size: 1.5rem;
  color: #000;
  margin-top: 20px;
}

.leftSection p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.leftSection ul {
  list-style-type: disc;
  padding-left: 20px;
}

.leftSection ul li {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
}

/* Sección derecha: pasos a seguir */
.rightSection {
  background-color: rgba(250, 249, 194, 0.5);
  flex: 1;
  padding: 20px;
  text-align: center;
  border: 2px solid #666;
  border-radius: 15px;
}

.rightSection h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #444;
}

.step {
  margin-top: 2rem;
  text-align: center;
}

.step img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  width: 350px; /* Tamaño ajustado */
}

.step h3 {
  font-size: 1.5rem;
  color: #333;
  text-align: left;
  margin-bottom: 0.5rem;
}

.step p {
  font-size: 1rem;
  text-align: left;
  color: #666;
}

.actions {
  margin-top: 3rem;
}

/* Sección inferior para las imágenes con pasos */
.foot {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #666;
  border-radius: 15px;
  margin: 10px;
  background-color: rgba(250, 249, 194, 0.5);
}

.stepContainer {
  text-align: center;
  cursor: pointer; /* El cursor cambia cuando pasas el ratón sobre la imagen */
  margin-left: 50px;
  margin-right: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Para que el overlay esté encima del contenido */
}

.zoomedImageContainer {
  position: relative;
  width: 90%; /* Ajusta el tamaño de la imagen ampliada */
  height: 90%;
}

.zoomedImageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}

