.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 26px;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 20px;
}

.menuItem {
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.menuItem:hover,
.menuItem.active {
  color: #8ee3f5;
}

